@font-face {
    font-family: 'OfficinaSansStdBold';
    src: url('fonts/OfficinaSansStdBold.eot');
    src: url('fonts/OfficinaSansStdBold.eot') format('embedded-opentype'),
         url('fonts/OfficinaSansStdBold.woff2') format('woff2'),
         url('fonts/OfficinaSansStdBold.woff') format('woff'),
         url('fonts/OfficinaSansStdBold.ttf') format('truetype'),
         url('fonts/OfficinaSansStdBold.svg#OfficinaSansStdBold') format('svg');
}
@font-face {
    font-family: 'AvenirLTStdLight';
    src: url('fonts/AvenirLTStdLight.eot');
    src: url('fonts/AvenirLTStdLight.eot') format('embedded-opentype'),
         url('fonts/AvenirLTStdLight.woff2') format('woff2'),
         url('fonts/AvenirLTStdLight.woff') format('woff'),
         url('fonts/AvenirLTStdLight.ttf') format('truetype'),
         url('fonts/AvenirLTStdLight.svg#AvenirLTStdLight') format('svg');
}
@font-face {
    font-family: 'ClearfaceGothicLHLight';
    src: url('fonts/ClearfaceGothicLHLight.eot');
    src: url('fonts/ClearfaceGothicLHLight.eot') format('embedded-opentype'),
         url('fonts/ClearfaceGothicLHLight.woff2') format('woff2'),
         url('fonts/ClearfaceGothicLHLight.woff') format('woff'),
         url('fonts/ClearfaceGothicLHLight.ttf') format('truetype'),
         url('fonts/ClearfaceGothicLHLight.svg#ClearfaceGothicLHLight') format('svg');
}

a:hover {
	text-decoration: none !important;
}

$azulEscuro: #12171e;
$cinza: #f3f3f3;
$prontoMorar: #e11d1d;
$cinzaEscuro: #bacfdc;
$cinzaText: #9f9f9f;
$azulBebe: #43becc;
$avenirLight: 'AvenirLTStdLight';

// div,ul, li{
// 	border: 1px solid red;
// }

body{
	font-family: arial;
}

.cadastrarImovel{
	margin-bottom: 2%;
}

.thumbImoveis{
	position: relative;
	overflow: hidden;

	.imagem{
		width: 100%;
	}
	
	.situacaoImovel{
		background: $prontoMorar;
		position: absolute;
		top: 18px;
		transform: skewX(-25deg) rotate(-38deg);
		left: -32px;
		width: 250px;
		
		h5{
			text-align: center;
			color: #fff;
			font-weight: bold;
			padding: 10px;
		}
	}

	.infoImovel{
		width: 100%;
		background: $azulEscuro;
		float: left;
		margin-bottom: 5%;

		ul{
			list-style: none;
			margin: 0;
			padding: 2% 0;
			float: left;
			width: 100%;

			li{
				float: left;
				width: 30%;
				margin-left: 2%;

				img{
					width: 40%;
				}

				span{
					color: #fff;
				}
			}
		}
	}

	.descricao{
		text-align: center;
		padding: 0 5% !important;
		background: $cinza;
	}
}

form.cadastrarImovel{
	
	.form-group{
		label{
			margin-top: 2%;
		}
	}
}

.header{
	background: $azulEscuro;

	.topo{

		h5{
			color: $cinzaEscuro;
		}

		.social{
			float: right;

			ul{
				float: right;
				margin: 0;
				padding: 0;
				list-style: none;

				li{
					float: left;
					color: $cinzaEscuro;
					padding: 5px;
				}
			}
		}	
	}

	.menu{

		.logo{
			margin: 0 auto;
		}

		.navegacao{

			ul{
				float: right;
				margin: 0;
				padding: 2.3% 0;
				list-style: none;

				li{
					float: left;
					padding: 5px 10px;
					
					a{
						color: $cinzaEscuro;
						font-size: 16px;
						text-transform: capitalize;
						font-weight: normal;
						font-family: $avenirLight;
					}
				}
			}
		}
	}
}

.banner{
	padding: 0 !important;

	.imagemFull{
		width: 100%;
	}

	.busca{
		position: absolute;
		top: 33%;
		left: 25%;
		width: 50%;
		background: rgba(255,255,255,0.7);
		padding: 40px 0;

		input{
			border: 1px solid #ccc;
			padding: 10px;
			margin-left: 15px;
  			width: 93.5%;
		}
	}
}


.rodape{
	background: $azulEscuro;
	padding: 10px 0 50px;
	margin-top: 100px;

	h3{
		color: $cinzaEscuro;
		font-family: $avenirLight;
	}
	p{
		color: $cinzaEscuro;
		font-family: $avenirLight;
		font-size: 14px;
		margin: 0;
		padding: 0;
	}
	hr{
		border-top: 1px solid #434950;
	}
	ul.sobreEmpresa{
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			margin: 0;
			padding: 5px 0;

			a{
				color: $cinzaEscuro;
				font-family: $avenirLight;
				font-size: 14px;
			}
		}
	}

	input{
		border: 0;
		padding: 10px;
		width: 100%;
		background: #5A6A83;
		color: #fff;
	}

	iframe{
		background: #fff;
	}

	ul.footerRegiao{
		list-style: none;
		margin: 0;
		padding: 0;
		float: left;

		li{
			margin: 0;
			padding: 2px 0;

			a{
				color: $cinzaEscuro;
				font-family: $avenirLight;
				font-size: 12px;
			}
		}
	}
}

.allRight{
	background: #242d38;
	color: #7f8b9d;
	font-family: $avenirLight;
	font-size: 12px;
	padding: 20px 0;
	text-align: center;
}

.infoImovel{

	h1.nome{
		color: $azulEscuro;
		font-family: $avenirLight;
		font-weight: normal;
		font-size: 36px;
	}

	p.endereco{
		color: $cinzaText;
		font-family: $avenirLight;
		font-weight: bold;
		font-size: 14px;
	}

	h1.valor{
		font-weight: bold;
		text-align: right;
	}

	button.btnAdquirirHoje{
		float: right;
		background: $azulBebe;
		padding: 10px 22px;
	}

	ul.infoQtdeComodos{
		list-style: none;
		margin: 0;
		padding: 0;
		float: left;

		li{
			float: left;
			padding: 10px;
			color: $cinzaText;
			font-weight: bold;
			font-size: 14px;
		}
	}
}

.galeriaImovel{
	background: $azulBebe;

	.carousel-inner{

		.item{
			
			img{
				width: 100%;
			}
		}
	}
}

.infoText{

	h1{
		color: $azulEscuro;	
	}

	p{
		color: $cinzaText;
	}

	hr{
		border-top: 1px solid #d9dfe8;
	}

	ul.caracteristicas{
		list-style: none;
		margin: 0;
		padding: 0;
		float: left;
		width: 100%;

		li{
			float: left;
			padding: 10px;
			color: $cinzaText;
			font-size: 14px;
			font-family: $avenirLight;


			span{
				color: $azulBebe;
				margin-right: 10px;
			}
		}
	}

	ul.plantas{
		list-style: none;
		margin: 0;
		padding: 0;
		float: left;

		li{
			float: left;
			padding: 5px;
			color: $cinzaText;
			font-size: 12px;
			font-family: $avenirLight;
			width: 25%;
			cursor: pointer;
			border: 1px solid $cinza;

			p{
				margin-top: 5px;
			}

			img{
				width: 100%;
			}
		}
	}

	iframe.mapaLocalizacao{
		width: 100%;
	}
	
	form{
		
		div{
			float: left;
			width: 35%;
			margin-right: 2%;

			input{
				width: 100% !important;
				margin-bottom: 5%;
				padding: 20px 10px;
				background: #f8f8f8;
				border: 0;
				border-radius: 0;
			}
		}
		textarea{
			float: left;
			width: 60% !important;
			background: #f8f8f8;
			border: 0;
			border-radius: 0;
		}
		button{
			background: $azulBebe;
			border: 0;
			border-radius: 0;
		}
	}
}
.localizacao{
	padding: 0 !important;
}
