<div class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <div ng-include src="'partials/admin/header.html'"></div>
      <div ng-include src="'partials/admin/left-panel.html'"></div>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          
                          
        </section>

        <!-- Main content -->
        <section class="content container">
              
            <div class="row box box-default">
              <div class="box-header with-border">
                <i class="fa fa-bank"></i>
                <h3 class="box-title">
                    Minhas mensagens
                </h3>
              </div>
            </div>
            
            
          {{usuario.firstName}}

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <div ng-include src="'partials/admin/footer.html'"></div>
    </div><!-- ./wrapper -->
</div>