<div class="col-md-12 banner">
	<img src="img/banner.jpg" alt="" class="img-responsive imagemFull">

	<div class="container busca">

    <!--
		<form action="/search" method="POST">
			<input type="search" placeholder="Buscar empreendimento" name="query">
		</form>-->

    <form action="/search" method="POST">

      <div class="form-group">
        <select class="form-control" name="transacao">
          <option>O QUE PRECISA?</option>
          <option>Lançamento</option>
          <option>Pronto para morar</option>
          <option>Para alugar</option>
          <option>Em construção</option>
        </select>
      </div>

      <div class="form-group">
        <select class="form-control" name="tipo">
          <option>QUAL TIPO?</option>
          <option>Apartamento</option>
          <option>Residencial</option>
          <option>Residencial Sobrado</option>
          <option>Castelo</option>
        </select>
      </div>



      <div class="form-group">
        <!-- <input type="text" class="form-control" placeholder="Bairro?" name="bairro"> -->
         <select class="form-control" name="bairro">
          <option>BAIRRO?</option>
          <option ng-repeat="imovel in imoveis" value="{{imovel.bairro}}">{{imovel.bairro}}</option>
        </select>
      </div>

      <input  class="btn btn-default" value="Buscar">

    </form>

	</div>
</div>
