<div class="col-md-12 header">
	<div class="container topo">
			<div class="col-md-5">
				<h5>+5511 (11)2585-5533 . contato@imosystem.com.br</h5>
			</div>
			<div class="col-md-6 text-right social">
				<ul>
					<li>Siga-nos</li>
					<li><a href="#"><img src="img/facebook.png" alt=""></a></li>
					<li><a href="#"><img src="img/likedin.png" alt=""></a></li>
					<li><a href="#"><img src="img/twitter.png" alt=""></a></li>
				</ul>
			</div>
	</div>

	<div class="container menu">
		<div class="col-md-3">
			<a ng-href="#/imoveis"><img src="img/logo.png" alt="" class="img-responsive logo"></a>
		</div>

		<div class="col-md-9 navegacao">
			<ul>
				<li><a href="#/imoveis">home</a></li>
				<li><a href="#">empreendimento</a></li>
				<li><a href="#/quemSomos">quem somos</a></li>
				<li><a href="#">contato</a></li>
			</ul>
		</div>
	</div>
</div>