<div class="jumbotron">
	<h2>Bem-Vindo ao ImoLima</h2>
	<p>Imoveis cadastrados: {{total}}</p>
</div>

<button type="button" class="btn btn-primary">Cadastrar Imóvel</button>
<input type="search" placeholder="Buscar empreendimento" ng-model="filtro">

<div class="row">
	<div class="col-sm-6 col-md-4" ng-repeat="imovel in imoveis | filter: filtro">
		<div class="thumbnail thumbImoveis">
			<div class="situacaoImovel"><h5>{{imovel.status}}</h5></div>
			<img src="{{imovel.imagem}}" class="img-responsive imagem" alt="">
			<div class="infoImovel">
				<ul>
					<li>
						<img src="img/dormitorio.png" class="dormitorio" alt="">
						<span>{{imovel.qtdDormitorio}}</span>
					</li>
					<li>
						<img src="img/banheiro.png" class="dormitorio" alt="">
						<span>{{imovel.qtdBanheiro}}</span>
					</li>
					<li>
						<img src="img/garagem.png" class="dormitorio" alt="">
						<span>{{imovel.qtdGaragem}}</span>
					</li>
				</ul>
			</div>
			<div class="caption descricao">
				<h5>{{imovel.tipo}}</h5>
				<h4>{{imovel.nome}}</h4>
				<h2>{{imovel.valor}}</h2>
				<p>{{imovel.endereco}}</p>
			</div>
			<p class="text-center">
				<a href="" class="btn btn-warning" role="button">Remover</a> 
				<a href="" class="btn btn-default" role="button">Alterar</a>
			</p>
		</div>
	</div>
</div>