<div ng-include src="'partials/header.html'"></div>
<div ng-include src="'partials/banner.html'"></div>

<div class="container">

	<div class="row">

		<div class="col-sm-6 col-md-4" ng-repeat="imovel in imoveis | filter: filtro track by imovel._id">
			{{imovel.$$hashKey}}
			<a ng-href="#/infoImovel/{{imovel.nome}}">

				<div class="thumbnail thumbImoveis">
					<div class="situacaoImovel"><h5>{{imovel.status}}</h5></div>
					<img ng-src="img/imoveis/{{imovel.imagem[0]}}" class="img-responsive imagem" alt="">
					<div class="infoImovel">
							<ul>
								<li>
									<img src="img/dormitorio.png" class="dormitorio" alt="">
									<span>{{imovel.qtdDormitorio}}</span>
								</li>
								<li>
									<img src="img/banheiro.png" class="dormitorio" alt="">
									<span>{{imovel.qtdBanheiro}}</span>
								</li>
								<li>
									<img src="img/garagem.png" class="dormitorio" alt="">
									<span>{{imovel.qtdGaragem}}</span>
								</li>
							</ul>

							<div class="imagemPerfilClientSide">
								<img ng-src="img/usuarios/{{imovel.usernameImagem}}" alt="" class="img-responsive img-circle">
							</div>
						</a>
						<div class="curtirPerfilClientSide">
							<img ng-src="img/btnCurtir.png" alt="" class="img-responsive img-circle" ng-click="curtir(imovel._id)" onclick="curtiu(this)">
						</div>
					</div>
				<a ng-href="#/infoImovel/{{imovel.nome}}">
					<div class="caption descricao">
						<h5>{{imovel.cidade}} / {{imovel.estado}}</h5>
						<h4>{{imovel.nome}}</h4>
						<h3 class="text-bold">R${{imovel.valor}}.00</h3>

						<hr>

						<h5><b>{{imovel.tipo}}</b> {{imovel.bairro}}</h5>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>

<div ng-include src="'partials/rodape.html'"></div>
