<div class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <div ng-include src="'partials/admin/header.html'"></div>
      <div ng-include src="'partials/admin/left-panel.html'"></div>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">


</section>

<!-- Main content -->
<section class="content container">

	<div class="row box box-default">
      <div class="box-header with-border">
        <i class="fa fa-bank"></i>
        <h3 class="box-title">
            Cadastrar Imóvel
        </h3>
      </div>
    </div>

	<br />
	<p ng-show="mensagem.texto" class="alert alert-success">
		{{mensagem.texto}}
	</p>


	<div class="row box box-default" ng-hide="imagemHide">
              <div class="col-md-12">

	<h3 class="text-info">Imagem principal do imóvel</h3>

	<form method="post" action="/images/upload" target="_blank" enctype="multipart/form-data" ng-submit="unlockImovel(imovel.imagem)">

		<div class="row">
			<div class="col-md-5">
			<input type="file" class="filestyle" name="images" fileread="imovel.imagem" required>
			<br />
			<input type="submit" class="btn btn-primary" value="Enviar Imagem">
			</div>
			<br />

			<div class="col-md-5">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center">{{imovel.nome}}</h3>
					</div>
					<div class="panel-body">
						<img src="img/imoveis/{{imovel.imagem[0]}}" alt="" class="img-responsive imagem-imovel-previa center-block">
					</div>
				</div>
			</div>
		</div>
	</form>

	</div>

	</div>

	<div class="row box box-default" ng-show="imagemShow">
              <div class="col-md-11">

	<form class="cadastrarImovel" ng-submit="salva()" name="myForm">

		<div class="form-group hide-inputs">
			<div class="row">
            	<div class="col-xs-6">

					<label for="Nome">Username</label><br />
					<input type="text" class="form-control" ng-model="imovel.username" value="{{username}}" disabled>


				</div>

			</div>
		</div>

		<div class="form-group hide-inputs">
			<div class="row">
            	<div class="col-xs-6">


					<label for="Nome">Imagem</label><br />
					<input type="text" class="form-control" ng-model="imovel.usernameImagem" value="{{usernameImagem}}" disabled>

				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
            	<div class="col-xs-6">

					<label for="Nome">Nome Imóvel</label><br />
					<input type="text" class="form-control" id="nomeImovel" ng-model="imovel.nome" placeholder="Ex: JARDIM DAS OLIMPIAS" required>

				</div>

				<div class="col-xs-6">

					<label for="Nome">Descrição</label><br />
					<input type="text" class="form-control" id="nomeImovel" ng-model="imovel.descricao" placeholder="Ex: Este imovel é amplo..." required>

				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
            	<div class="col-xs-5">

					<label for="Nome">Cidade</label><br />
					<input type="text" class="form-control" id="nomeImovel" ng-model="imovel.cidade" placeholder="Ex: São Paulo" required>

				</div>

				<div class="col-xs-2">

					<label for="Nome">Estado</label><br />
					<input type="text" class="form-control" id="nomeImovel" ng-model="imovel.estado" placeholder="Ex: SP" required>

				</div>

				<div class="col-xs-5">

					<label for="Nome">Bairro</label><br />
					<input type="text" class="form-control" id="nomeImovel" ng-model="imovel.bairro" placeholder="Ex: Cambucí" required>

				</div>
			</div>
		</div>

		<div class="form-group hide-inputs">
			<div class="row">
            	<div class="col-xs-12">

					<label for="Nome">Nome da Imagem</label><br />
					<input type="text" class="form-control hide-inputs" ng-model="imovel.imagem" value="{{imovel.imagem}}" disabled>

				</div>
			</div>
		</div>

		<div class="form-group">

				<div class="row">

					<div class="col-xs-6">

						<div class="box box-info">
			                <div class="box-header with-border">
			                  <h3 class="box-title">Características</h3>
			                  <div class="box-tools pull-right">
			                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
			                  </div>
			                </div>

							<div class="box-footer clearfix">
			                  <div class="col-xs-6">
			                  	<input type="text" class="form-control listaCaracteristicas" id="nomeImovel" placeholder="Ex: Academia | Playground | Ar condicionado | Fliperama">
			                  </div>

			                  <div class="col-xs-6">
			                  	<a href="javascript::;" class="btn btn-sm btn-info btn-flat pull-left btn-block" ng-click="inserirCaracteristicas()">Inserir nova característica</a>
			                   </div>
			                </div><!-- /.box-footer -->

			                <!-- /.box-header -->
			                <div class="box-body" ng-show="imovel.caracteristicas.length">
			                  <div class="table-responsive">
			                    <table class="table no-margin">
			                      <thead>
			                        <tr>
			                          <th>Nome</th>
			                        </tr>
			                      </thead>
			                      <tbody>
			                        <tr ng-repeat="caracteristica in imovel.caracteristicas">
			                          <td><i class="fa fa-fw fa-check-circle check-green"></i></td>
			                          <td>{{caracteristica}}</td>
			                          <td><button type="button" class="btn btn-danger" ng-click="excluirCaracteristicas(caracteristica)">Excluir</button></td>
			                          <td><div class="sparkbar" data-color="#00a65a" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div></td>
			                        </tr>
			                      </tbody>
			                    </table>
			                  </div><!-- /.table-responsive -->
			                </div><!-- /.box-body -->

			              </div>

					</div>

					<div class="col-xs-6">

					<div class="box box-info">
		                <div class="box-header with-border">
		                  <h3 class="box-title">Proximidades do local</h3>
		                  <div class="box-tools pull-right">
		                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		                  </div>
		                </div>

						<div class="box-footer clearfix">
		                  <div class="col-xs-6">
		                  	<input type="text" class="form-control listaProximidadesLocal" id="nomeImovel" placeholder="Ex: Banco do Brasil | Shopping | Supermercado Extra...">
		                  </div>

		                  <div class="col-xs-6">
		                  	<a href="javascript::;" class="btn btn-sm btn-info btn-flat pull-left btn-block" ng-click="inserirProximidades()">Inserir nova característica</a>
		                   </div>
		                </div><!-- /.box-footer -->

		                <!-- /.box-header -->
		                <div class="box-body" ng-show="imovel.proximidades.length">
		                  <div class="table-responsive">
		                    <table class="table no-margin">
		                      <thead>
		                        <tr>
		                          <th>Nome</th>
		                        </tr>
		                      </thead>
		                      <tbody>
		                        <tr ng-repeat="proximidades in imovel.proximidades">
		                          <td><i class="fa fa-fw fa-check-circle check-green"></i></td>
		                          <td>{{proximidades}}</td>
		                          <td><button type="button" class="btn btn-danger" ng-click="excluirProximidades(proximidades)">Excluir</button></td>
		                          <td><div class="sparkbar" data-color="#00a65a" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div></td>
		                        </tr>
		                      </tbody>
		                    </table>
		                  </div><!-- /.table-responsive -->
		                </div><!-- /.box-body -->

		              </div>

				</div>

				</div>

		</div>

		<div class="form-group">
			<div class="row">
            	<div class="col-xs-6">

					<label for="Nome">Tipo do Imóvel</label><br />
					<input type="text" class="form-control" id="nomeImovel" ng-model="imovel.tipo" placeholder="Ex: Residencial Vertical" required>

				</div>

				<div class="col-xs-6">

					<label for="Nome">Status</label><br />
					<select class="form-control" ng-model="imovel.status" required>
						<option ng-model="imovel.status"></option>
						<option>PRONTO PARA MORAR</option>
						<option>EM CONSTRUÇÃO</option>
						<option>PARA ALUGAR</option>
						<option>LANÇAMENTO</option>
					</select>

				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="row">

				<div class="col-xs-6">

					<label for="Nome">Endereço</label><br />
					<input type="text" class="form-control" id="nomeImovel" ng-model="imovel.endereco" placeholder="Ex: av. berrini, 350 - vila olimpia São Paulo - SP" required>

				</div>

            	<div class="col-xs-6">

					<label for="Nome">Valor do Imóvel</label><br />
					<label class="sr-only" for="exampleInputAmount"></label>

					<div class="input-group">
						<div class="input-group-addon">$</div>
							<input type="text" class="form-control" id="exampleInputAmount" ng-model="imovel.valor" placeholder="Ex: 489.000" required>
						<div class="input-group-addon">.00</div>
					</div>

				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="col-xs-3">

					<label for="Nome">Área total</label><br />
					<input type="text" class="form-control" id="nomeImovel" ng-model="imovel.areatotal" placeholder="Ex: 64m2" required>

				</div>

            	<div class="col-xs-3">

					<label for="Nome">Quant. Dormitórios</label><br />
					<input type="text" class="form-control" id="nomeImovel" ng-model="imovel.qtdDormitorio" placeholder="Ex: 3" required>

				</div>

				<div class="col-xs-3">

					<label for="Nome">Quant. Banheiros</label><br />
					<input type="text" class="form-control" id="nomeImovel" ng-model="imovel.qtdBanheiro" placeholder="Ex: 2" required>

				</div>

				<div class="col-xs-3">

					<label for="Nome">Quant. garagens</label><br />
					<input type="text" class="form-control" id="nomeImovel" ng-model="imovel.qtdGaragem" placeholder="Ex: 2" required>

				</div>
			</div>
		</div>

		<br /><br />
		<div class="row">
			<div class="col-xs-12 btn-group btn-group-justified">
				<div class="btn-group" role="group">
					<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid">Salvar</button>
				</div>

				<div class="btn-group" role="group">
					<button type="reset" class="btn btn-warning">Limpar</button>
				</div>

				<div class="btn-group" role="group">
					<a href="#/admin" class="btn btn-danger">Voltar</a>
				</div>
			</div>
		</div>
	</form>

	</div>
	</div>

	</section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <div ng-include src="'partials/admin/footer.html'"></div>
    </div><!-- ./wrapper -->
</div>
