<div ng-include src="'partials/header.html'"></div>

<div class="container">

	<div class="col-md-12 infoImovel">
		<div class="col-md-8">
			<h1 class="nome">{{imovel.nome}}</h1>
			<p class="endereco">{{imovel.endereco}}</p>
		</div>

		<div class="col-md-4">
			<h1 class="valor">R${{imovel.valor}}.00</h1>
			<button class="btn btn-primary btnAdquirirHoje" type="button">ADQUIRIR HOJE</button>
		</div>

		<div class="col-md-12">
			<ul class="infoQtdeComodos">
				<li>
					<img src="img/dormitorio.png" class="dormitorio" alt="">
					<span>{{imovel.qtdDormitorio}}</span>
				</li>
				<li>
					<img src="img/banheiro.png" class="dormitorio" alt="">
					<span>{{imovel.qtdBanheiro}}</span>
				</li>
				<li>
					<img src="img/garagem.png" class="dormitorio" alt="">
					<span>{{imovel.qtdGaragem}}</span>
				</li>
			</ul>
		</div>
	</div>

</div>

		<div class="col-md-12 galeriaImovel">
			<div class="container">
				<div data-ride="carousel" class="carousel slide" id="carousel-example-captions">
					<ol class="carousel-indicators">
						<li data-slide-to="0" data-target="#carousel-example-captions" class="active"></li>
						<li data-slide-to="{{$index+1}}" data-target="#carousel-example-captions" class="" ng-repeat="imagem in imovel.imagem.slice(1) track by $index"></li>
					</ol>

					<div role="listbox" class="carousel-inner">
						<div class="item active">
							<img ng-src="img/imoveis/{{imovel.imagem[0]}}" alt="">
							<div class="carousel-caption">
								<h3>{{imovel.nome}}</h3>
								<p>{{imovel.descricao}}</p>
							</div>
						</div>

						<div class="item" ng-repeat="img in imovel.imagem.slice(1) track by $index">
							<img ng-src="img/imoveis/{{img}}" alt="">
							<div class="carousel-caption">
								<h3>{{imovel.nome}}</h3>
								<p>{{imovel.descricao}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<div class="col-md-12 infoText">

	<div class="col-md-12">
		<h1>Descrição</h1>
		<hr />
		<p>{{imovel.descricao}}</p>
	</div>

	<div class="col-md-12">
		<h1>Características</h1>
		<hr />
		<ul class="caracteristicas">
			<li ng-repeat="caract in imovel.caracteristicas"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span>{{caract}}</li>
		</ul>
	</div>

	<div class="col-md-12">
		<h1>Proximidades do local</h1>
		<hr />
		<ul class="caracteristicas">
			<li ng-repeat="proximidades in imovel.proximidades"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span>{{proximidades}}</li>
		</ul>
	</div>

	<div class="col-md-12">
		<h1>Área total</h1>
		<hr />
		<ul class="caracteristicas">
			<li><span aria-hidden="true" class="glyphicon glyphicon-ok"></span>{{imovel.areatotal}}</li>
		</ul>
	</div>
	
</div>

	<div class="col-md-12 infoText localizacao">
		<div class="col-md-12">
			<h1>Localização</h1>
			<hr />
		</div>
		
		<div id="map"></div>

	</div>
	
	<div class="col-md-12 infoText">
		<div class="col-md-12">
			<h1>Fale agora com o proprietário</h1>
			<hr />
		</div>
		<div class="col-md-6">
	        <div class="row box box-default">
	          <div class="col-md-12">
	          	<div class="col-md-6">
					<img src="img/usuarios/{{imovel.usernameImagem}}" alt="" class="img-responsive imagemUser">
				</div>
				<div class="col-md-6">
	            	<h3>Olá, meu nome é <b>{{imovel.username}}</b></h1>
	            </div>
	          </div>
	        </div>
	    </div>
		

		<div class="col-md-6">
			<div class="row box box-default">
				<h1>Contato</h1>
				<hr />	

				<form action="/imoveisNome" target="_blank" method="POST" class="form-inline enviaMensagem">
					<div>
						<input type="text" class="form-control nome hide-inputs" placeholder="selfId" name="selfId" value="{{imovel._id}}" required>
						<input type="text" class="form-control nome" placeholder="Nome" name="nome" required>
						<input type="text" class="form-control email" placeholder="Email" name="email" required>
						<input type="text" class="form-control telefone" placeholder="Telefone" name="telefone" required>
						<input type="text" class="form-control assunto" placeholder="Assunto" name="assunto" required>
						<button type="submit" class="btn btn-primary">Enviar Mensagem</button>
					</div>
					<textarea class="form-control mensagem" rows="7" name="mensagem" required></textarea>
				</form>
			</div>
		</div>
	</div>
		
	

<div ng-include src="'partials/rodape.html'"></div>


