<div class="login-page" style="background: #fff;">

<div class="login-box">

    <div class="login-box-body">
      <h1 class="text-center login-title">Limovel app
        <div class="account-wall">
          <img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" class="profile-img"/>
        </div>

        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Começar sua Sessão</h3>
            </div>
            <div class="panel-body">
                <form role="form" action="/login" method="POST" class="form-signin">
                    <fieldset>
                        <div class="form-group has-feedback">
                            <input type="text" name="username" placeholder="Username" required="required" autofocus="autofocus" class="form-control"/>
                            <span class="glyphicon glyphicon-user form-control-feedback" style="font-size: 10px; color: #777;"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" name="password" placeholder="Senha" required="required" class="form-control"/>
                            <span class="glyphicon glyphicon-lock form-control-feedback" style="font-size: 10px; color: #777;"></span>
                        </div>
                        
                        <div class="form-group">
                          <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button><span class="clearfix"></span>
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <div id="message"></div>
                        <h5><a href="#">esqueci minha senha</a></h5>
                        <h5><a href="#/signup">criar nova conta</a></h5>
                    </fieldset>
                </form>
            </div>
        </div>
      </h1>
    </div>



</div>

</div>