<div ng-include src="'partials/header.html'"></div>


<div class="quemSomos">

	<div class="col-md-12 banner">
		<img src="img/banner.jpg" alt="" class="img-responsive imagemFull">
	</div>

		
	<div class="container">	

		<div class="col-md-12">
			<h1 class="titulo text-center">Established in 1997 by prominent Auckland Real Estate figure Martin Dunn,City Sales Ltd is Auckland's leading apartment specialist.</h1>
			<hr />
		</div>

		<div class="col-md-12">
			<div class="col-md-6">
				<p class="texto">Flashback to 1991 – the Auckland apartment market is virtually non-existent, a mere 228 apartments in eight buildings. Today City Sales has played a key role in establishing the Auckland apartment market as a great choice for investors, first home buyers and anyone interested in affordable real estate. Currently holding a database of 26,000 apartments across 460 buildings, City Sales Ltd continues to reinforce its position as a leading authority in Auckland apartments.</p>
			</div>

			<div class="col-md-6">
				<p class="texto">Flashback to 1991 – the Auckland apartment market is virtually non-existent, a mere 228 apartments in eight buildings. Today City Sales has played a key role in establishing the Auckland apartment market as a great choice for investors, first home buyers and anyone interested in affordable real estate. Currently holding a database of 26,000 apartments across 460 buildings, City Sales Ltd continues to reinforce its position as a leading authority in Auckland apartments.</p>
			</div>
		</div>
	</div>

	<div class="col-md-12 diretor">

		<div class="col-md-5 titulo">
			<div class="col-md-12 cargo">
				<p>DIRETOR</p>
			</div>
			<div class="col-md-12 contentImagem">
				<img src="img/quem_somos.png" alt="" class="img-responsive imagem">
			</div>
		</div>

		<div class="col-md-6 texto">
			<div class="col-md-12 titulo">
				<p>DIRETOR</p>
			</div>
		</div>
	</div>

</div>


<div ng-include src="'partials/rodape.html'"></div>