<div ng-include src="'partials/header.html'"></div>


<div class="quemSomos">

	<div class="col-md-12 banner">
		<img src="img/banner.jpg" alt="" class="img-responsive imagemFull">
	</div>

	<div class="container">	

		<div class="col-md-12">
			<h1 class="titulo text-center">Established in 1997 by prominent Auckland Real Estate figure Martin Dunn,City Sales Ltd is Auckland's leading apartment specialist.</h1>
			<hr />
		</div>

		<div class="col-md-12">
			<div class="col-md-6">
				<p class="texto">Flashback to 1991 – the Auckland apartment market is virtually non-existent, a mere 228 apartments in eight buildings. Today City Sales has played a key role in establishing the Auckland apartment market as a great choice for investors, first home buyers and anyone interested in affordable real estate. Currently holding a database of 26,000 apartments across 460 buildings, City Sales Ltd continues to reinforce its position as a leading authority in Auckland apartments.</p>
			</div>

			<div class="col-md-6">
				<p class="texto">Flashback to 1991 – the Auckland apartment market is virtually non-existent, a mere 228 apartments in eight buildings. Today City Sales has played a key role in establishing the Auckland apartment market as a great choice for investors, first home buyers and anyone interested in affordable real estate. Currently holding a database of 26,000 apartments across 460 buildings, City Sales Ltd continues to reinforce its position as a leading authority in Auckland apartments.</p>
			</div>
		</div>
	</div>

	<div class="col-md-12 diretor">

		<div class="col-md-3 titulo">
			<div class="col-md-12 contentImagem">
				<img src="img/quem_somos.png" alt="" class="img-responsive imagem">
			</div>
		</div>

		<div class="col-md-8 texto">
			<div class="col-md-12 titulo">
				<h1 class="titulo">Martin Dunn</h1>
				<h3 class="cargo">MANAGING DIRECTOR</h3>
				<p class="texto">My career in Real Estate spans 30 years and has given me extensive experience in both commercial and residential real estate with two of Auckland’s most high profile agencies. The Auckland apartment market has always fascinated me and as one of the original advocates of the movement to inner-city living, I have been present since its inception in 1991. After a few very successful years specialising in the apartment market, I saw a need for a specialist company dedicated to city apartments; one which understood the peculiarities of this unique market.</p>
			</div>
		</div>
	</div>

	<div class="container">	

		<div class="col-md-12">
			<h1 class="titulo text-center">THIS IS OUR BUSINESS</h1>
			<hr />
		</div>

		<div class="col-md-12">
			<div class="col-md-6">
				<p class="texto">City Sales staff are handpicked for their high professional standards as well as their enthusiasm and interest in the development of Auckland apartment living. Many of them live in the city and have city investments themselves. We share a common interest in the growth of Auckland.</p>
			</div>

			<div class="col-md-6">
				<p class="texto">Our Rentals and Property Management team works alongside our sales team, together covering the full gamut of residential options. Available also is our expert advice on investment properties, from advising about returns to managing your property for you, City Sales is the obvious choice to nurture your interest in the Auckland apartment market.</p>
			</div>
		</div>
	</div>

</div>


<div ng-include src="'partials/rodape.html'"></div>